{{! Update create event with lecture 8 38:00}}

<body class="createEvent">
    <h1>Create Your Event</h1>
    <main class="createEvent">
        <form class="createEvent" id="eventCreation-form" method="POST">
            <label for="eventName">
                Event Name:
                <input type="text" name="eventNameInput" placeholder="Event Name" value="{{event.eventName}}" id="eventNameInput">
            </label>
            <br>
            
           {{! Time addition from Sriya}}
            <label for="dateInput">
                Date:
                <input type="datetime-local" name="dateInput" placeholder="Event Date" value="{{event.date}}"  id="dateInput"
                min="2024-01-01">
            </label>
            <br>

            <label for="locationInput">
                Location:
                <input type="text" name="locationInput" placeholder="Event Location" value="{{event.location}}" id="locationInput">
            </label>
            <br>

            <label for="descriptionInput">
                Description:
                <input type="text" name="descriptionInput" placeholder="Event Description" value="{{event.description}}" id="descriptionInput">
            </label>
            <br>

            <label for="modeInput">
                Event Mode:
                <select type="eventMode" name="modeInput" value="{{event.mode}}" id="modeInput">
                   <option value="online">Online</option>
                   <option value="person">In-Person</option>
                </select>
            </label>
            <br>

            <label for="feeInput">
                Registration Fee:
                <input type="text" name="feeInput" placeholder="Event Fee" value="{{event.registrationFee}}" id="feeInput">
            </label>
            <br>

            <label for="permInput">
                Who's Coming:
                <select type="permission" name="permInput" value="{{event.permission}}" id="permInput">
                   <option value="public">Public</option>
                   <option value="private">Private</option>
                </select>
            </label>
            <br>

            {{! Category input from Sriya}}
            <div class="dropdown">
                <label for="categoryInput">
                    Category:
                    <select class = "categoryInput" value="{{event.category}}" name = "categoryInput">
                        <option value="Party">Party</option>
                        <option value="Birthday">Birthday</option>
                        <option value="Wedding">Wedding</option>
                        <option value="Anniversary">Anniversary</option>
                        <option value="Baby Shower">Baby Shower</option>
                        <option value="Holiday Celebration">Holiday Celebration</option>
                        <option value="Religious Holiday">Religious Holiday</option>
                        <option value="Get Together">Get Together</option>
                        <option value="Business Meeting">Business Meeting</option>
                        <option value="Casual Hangout">Casual Hangout</option>
                        <option value="Conference">Conference</option>
                        <option value="Vacation">Vacation</option>
                        <option value="Other">Other</option>
                    </select>
                </label>
            </div>
            <br>

            <label for="portInput">
                Nearest Port:
                <input type="text" name="portInput" placeholder="Event Nearest Port" value="{{event.nearByPort}}" id="portInput">
            </label>
            <br>
            <button type="submit" name="action" value="save">Save For Later</button>
            <button type="submit" name="action" value="publish">Publish Event</button>
        </form>
    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
                <li>
                    {{this.errors}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
    </main>
    {{! <a href="/profile">Back to your profile</a> once routes are worked out}}
</body>