{{! Simple extension to the main html file}}
{{! Remember that you don't full html structure for extensions}}

    <h1>Events:</h1>
    <main>

 <div id="eventSearch">
<h2>Search for Events</h2>
<form id="eventSearch-form" action="/event/search" method="POST">
<input type="hidden" id="userId" value="{{user.userId}}">

  <label for="eventNameInput">Event Name:</label>
  <input type="text" id="eventNameInput" name="eventNameInput">
  
  <label for="categoryInput">Category:</label>
  <input type="text" id="categoryInput" name="categoryInput">
  
  <label for="dateInput">Date:</label>
  <input type="date" id="dateInput" name="dateInput" placeholder="mm/dd/yyyy">
  
  <label for="registrationFeeInput">Registration Fee:</label>
  <input type="text" id="registrationFeeInput" name="registrationFeeInput" value="0.00" >

  
  <button type="submit">Search Event</button>
</form>
</div>

<div id="eventList">
    <h2>Event Search Result</h2>
    <div id="eventSearchList"></div>
<ul>
    {{#each events}}
    <li><a href="/event/{{this._id}}">{{this.eventName}}</a></li>
    {{/each}}
</ul>
</div>




        <div id="events">
         <h1>Your Events:</h1>

        {{#if eventRes.length}}
        <ul>
            {{#each eventRes}}
            <li><a href="/event/{{this._id}}">{{this.eventName}}</a></li>
            <li>{{this.eventStatus}}</li>
            {{/each}}
        </ul>
        {{/if}}

        {{#else}}
            <p>No events to show!</p>
        {{/else}}

        {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
                    <li>
                        {{this.errors}}
                    </li>
                {{/each}}
            </ul>
        {{/if}}

        <a href="/event/create">Create an Event</a>
        </div>

    </main>
