{{! Simple extension to the main html file}}
{{! Remember that you don't full html structure for extensions}}

<body>
    <main>        

        <div id="topOfPage">
        <h3 id="eName">{{eventRes.eventName}}</h3>
        <h3 id="eHost">Hosted By: {{userRes.firstName}} {{userRes.lastName}}</h3>
        <h3 id="eDate">Date: {{eventRes.date}}</h3>
        <h3 id="eFee">Price: {{eventRes.registrationFee}}</h3>
        <h3 id="eLocation">Location: {{eventRes.location}}</h3>
        <h3 id="eMode">Mode: {{eventRes.eventMode}}</h3>
        <br>
        </div>

        <div id="pageInfo">
        <h3 id="eDescript">Details: {{eventRes.description}}</h3>
        <h3 id="eCategory">Category: {{eventRes.category}}</h3>
        <h3 id="ePort">Nearest Port: {{eventRes.nearByPort}}</h3>
        </div>
    {{#if hasErrors}}
    <ul class="error-list">
        <li>{{errors}}</li>
        </ul>
    {{/if}}
    </main>
    <a href="/event/">Back to your events</a>
    <a href="/event/edit/{{eventRes._id}}">Edit This event</a>
</body>