
<main>
  <h1>Welcome to the Event Management System Website!</h1>
  <p>
      This site allows you to register,schedule, manage and sell events in an efficient and organized manner.
      Get started today by signing up for a free account!
   </p>



 <div id="eventSearch">
<h2>Search for Events</h2>
<form id="eventSearch-form" action="/event/search" method="POST">
<input type="hidden" id="userId" value="{{user.userId}}">

  <label for="eventNameInput">Event Name:</label>
  <input type="text" id="eventNameInput" name="eventNameInput">
  
  <label for="categoryInput">Category:</label>
  <input type="text" id="categoryInput" name="categoryInput">
  
  <label for="dateInput">Date:</label>
  <input type="date" id="dateInput" name="dateInput" placeholder="mm/dd/yyyy">
  
  <label for="registrationFeeInput">Registration Fee:</label>
  <input type="text" id="registrationFeeInput" name="registrationFeeInput" value="0.00" required>

  
  <button type="submit">Search Event</button>
</form>
</div>

<div id="eventList">
    <h2>Event Search Result</h2>
    <div id="eventSearchList"></div>
<ul>
    {{#each events}}
    <li><a href="/event/{{this._id}}">{{this.eventName}}</a></li>
    {{/each}}
</ul>
</div>




   <h2 id="homeHeading">My Events:</h2>
   {{#if hasEvents}}
   <div id="events-contain">
    <ul class="events-list">
      {{#each event}}
        <li>
          <a href="/event/{{_id}}" id="homeName">{{eventName}}</a>
          <p id="homeDate">Date: {{date.date}}</p>
          <p id="homeTime">Time: {{date.time}}</p>
          <p id="homeDescript">{{description}}</p>
        </li>
      {{/each}}
    </ul>
   </div>
   {{/if}}
   {{#else}}
      <h2 id="noEvent">No Events Yet!</h2>
      <a href="/events/create" id="createHomeLink">Create One Here!</a>
   {{/else}}
    <footer>
      <p>
        For more information, contact:
          group2Stevens@stevens.edu
      </p>
    </footer>
</main>