{{! Simple extension to the main html file}}
{{! Remember that you don't full html structure for extensions}}

{{!-- <body>
    <h1>--- Insert Header Here---</h1>
    <main></main>
</body> --}}

    <head>
        <title>{{user.username}}</title>
    </head>
    <body>
        <article>
            <h1>{{user.firstName}} {{user.lastName}}</h1>
             <h2>Events</h2> {{!-- pass in event name and date --}}
            <ul>
                {{#each user.events}}
                <li>{{this.eventName}}</li>
                {{/each}}
            </ul>
            <h2>Reviews</h2> {{!-- pass in event name and review --}}
             {{!-- <ul>
                {{#each character.comics.items}} -- REPLACE WITH USER REVIEWS
                <li>{{this.name}}</li>
                {{/each}}
            </ul> --}}
            <a href="/user/allUsers">See All Users</a>
            {{#if this.user}}
            <a href="/user/changePassword/{{user._id}}">Change Password</a>
            {{/if}}
        </article>
    </body>